.main-content {
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 5px;
}
.switch-bar {
    height: 
}
.nav-pills button {
    color: white;
}
.nav-pills .nav-link:hover {
    background: white;
    color: black;
}
.nav-pills .nav-link {
    border: 1px solid white;
}